/* main css */

@media (max-width:900px) {
    body {
        text-align: center;
    }
    header img {
        height: 3rem;
        width: 3rem;
    }
    header nav {
        display: none;
    }
    header {
        padding: 2em 1em;
    }
    .contnr {
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 80vh;
    }
    .header-div1 {
        margin-top: 10rem;
    }
    .header-div1 h2 {
        font-size: 4rem;
        margin: 0.0em;
    }
    .header-div1 h3 {
        margin: 0.1em;
        font-size: 3rem;
    }
    .section1,
    .section2 {
        padding: 1em 1em;
        display: flex;
        flex-direction: column;
    }
    .img {
        width: 20em;
        height: 20em;
    }
    footer {
        padding-left: 0.2em;
        padding-right: 0.2em;
        padding-top: 0.2em;
        background-color: black;
    }
    .foot {
        padding: 0.1em !important;
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 70px;
    }
    .foot .email input,
    .foot .email button {
        padding: 1px;
    }
    footer .email input,
    footer .email button {
        padding: 0.2em !important;
        border: none;
        margin-left: 2px;
    }
    .img-div {
        display: grid;
        margin-left: 4em;
        grid-template-columns: 7em 7em 7em;
        gap: 1em !important;
    }
    .lastimg {
        width: 7em;
        height: 7em;
    }
    .last-section {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        gap: 2em;
    }
    .footer-section3-div,
    .last font-change2 {
        font-size: 1rem;
    }
    .footer-section3-div {
        margin-left: 2em;
    }
}