* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

@media (max-width:600px) {}

body {
    font-family: "Sarala", sans-serif;
}

.contnr {
    background-image: url(/img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-align: center;
    padding: 1.3em 1em;
    text-decoration: none;
}

.active {
    background-color: gray;
    color: white;
}

li a:hover {
    background-color: rgb(47, 113, 255);
    height: 100%;
    color: white;
}

.header-div1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-top: 9em;
    font-family: "Bebas Neue", cursive !important;
}

.header-div1 h2 {
    font-size: 10rem;
}

.header-div1 h3 {
    margin: 0.5em;
    font-size: 7rem;
}

header div {
    font-size: 1.9rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}

.header-icon i {
    border: 1px white solid;
    color: black;
    background-color: white;
    padding: 0.4em;
    border-radius: 50%;
}


/* main css */

.section1 {
    padding: 2em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(226, 226, 226);
}

.section1 h2 {
    margin-top: 2em;
    font-size: 3.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1em;
}

.section1 h4 {
    font-size: 1.7rem;
    text-align: center;
}

.section1 p {
    font-size: 1.4rem;
    text-align: center;
    margin: 2em;
}


/* section2 starts */

.section2 {
    padding: 2em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(114, 114, 114);
}

.section2 h2 {
    margin-top: 2em;
    font-size: 3.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1em;
}

.section2 h4 {
    font-size: 1.7rem;
    text-align: center;
}

.section2 p {
    font-size: 1.4rem;
    text-align: center;
    margin: 2em;
}

.img {
    width: 60em;
    height: 40em;
}


/* section2 ends */


/* main ends */


/* footer css */

footer {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    background-color: black;
}

.foot {
    padding: 1em !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
}

.footer-section1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-section2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.font-change,
.font-change2 {
    font-size: 1.5rem !important;
}

.font-change3 {
    font-size: 1.4rem !important;
}

.font-change4 {
    font-size: 2rem !important;
}

.footer-section3 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer .email input,
footer .email button {
    padding: 0.5em !important;
}

footer .email button {
    background-color: rgb(139, 0, 0);
}

footer .email button p {
    color: white;
    text-transform: uppercase;
}

.email,
.time,
.last,
.our-blog,
.footer-section2 div h4,
.footer-section3 {
    color: white !important;
}

.color-change-only {
    color: rgb(155, 155, 155) !important;
}

.enter-button {
    padding: 10px;
    margin-top: -10px;
    text-transform: capitalize !important;
}

.img-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-section3-div {
    display: flex;
    font-size: 15px;
    gap: 10px;
}

.last-section {
    display: flex;
    color: white !important;
    padding: 20px !important;
    gap: 40em;
}