* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

@media (max-width:600px) {}

body {
    font-family: "Sarala", sans-serif;
}

.contnr {
    background-image: url(/img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-align: center;
    padding: 1.3em 1em;
    text-decoration: none;
}

.active {
    background-color: gray;
    color: white;
}

li a:hover {
    background-color: rgb(47, 113, 255);
    height: 100%;
    color: white;
}

.header-div1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-top: 9em;
    font-family: "Bebas Neue", cursive !important;
}

.header-div1 h2 {
    font-size: 12rem;
}

.header-div1 h3 {
    margin: 0.5em;
    font-size: 10rem;
}

header div {
    font-size: 1.89rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}

.header-icon i {
    border: 1px white solid;
    color: black;
    background-color: white;
    padding: 0.4em;
    border-radius: 50%;
}


/* main css */

.section1 {
    color: black;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.726), rgba(187, 187, 187, 0.925)), url(/img/b1.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section1 div {
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

.section1 div h3 {
    font-size: 2.5rem;
}

.section1 div p {
    font-size: 1.5rem;
}

.icon2 {
    font-size: 7em;
    color: rgb(0, 35, 87);
}

.header-div {
    text-transform: uppercase;
}


/* w3school */


/* w3school */


/* section2 */

.section2 {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.925)), url(/img/bg1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    color: white;
}

.section2-h3 h3 {
    font-size: 4rem;
    margin-bottom: 7rem;
    color: white;
}

.section2-h3 p {
    font-size: 1.9rem;
    margin: 5em;
    text-align: center;
    color: white;
}

.section2-main-div {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.section2-main-div div h3 {
    border: 0.4em white solid;
    padding: 1.2em;
    background-color: #1b0a5e;
    color: white;
}

.section2-main-div div h2 {
    border: 0.4em white solid;
    border-radius: 50%;
    background-color: #1b0a5e;
    color: white;
}

.img1 {
    max-width: 30em !important;
    margin-left: 50em;
}

.img2 {
    display: flex;
}

.section2-h3 h3 {
    text-align: center;
}

.section2-h3 p {
    text-align: center;
}


/* carousel starts */

.pic-ctn {
    width: 100vw;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
}

.pic-ctn>img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}


/* carousel ends */


/* section 3 starts  */

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section3-div1 h3,
.section3-div2 h3 {
    font-size: 2rem;
}

.section3-div1 i,
.section3-div1 p,
.section3-div2 i,
.section3-div2 p {
    font-size: 1.5rem;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7em;
    margin-top: 10em;
    gap: 4em;
}

.grp-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* section 3 ends */


/* footer css */

footer {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    background-color: black;
}

.foot {
    padding: 1em !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
}

.footer-section1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-section2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.font-change,
.font-change2 {
    font-size: 1.5rem !important;
}

.font-change3 {
    font-size: 1.4rem !important;
}

.font-change4 {
    font-size: 2rem !important;
}

.footer-section3 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer .email input,
footer .email button {
    padding: 0.5em !important;
}

footer .email button {
    background-color: rgb(139, 0, 0);
}

footer .email button p {
    color: white;
    text-transform: uppercase;
}

.email,
.time,
.last,
.our-blog,
.footer-section2 div h4,
.footer-section3 {
    color: white !important;
}

.color-change-only {
    color: rgb(155, 155, 155) !important;
}

.enter-button {
    padding: 10px;
    margin-top: -10px;
    text-transform: capitalize !important;
}

.img-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lastimg {
    width: 9em;
    height: 9em;
}

.footer-section3-div {
    display: flex;
    font-size: 15px;
    gap: 10px;
}

.last-section {
    display: flex;
    color: white !important;
    padding: 20px !important;
    gap: 40em;
}